<?xml version="1.0" encoding="UTF-8"?>
<!-- Este archivo de configuracion corresponde al ejemplo ApplicationContext -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="auto" class="com.example.spring.Car"></bean>
	
</beans>
